/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-fancypantsy-section-container-block  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.wp-block-fp-column-block{
	.wp-block + .block-list-appender{
		display:none !important;
	}
}

.block-editor-inner-blocks .block-editor-block-list__block.is-selected+.block-list-appender{
	display:none !important;
}

.components-popover.block-editor-inserter__popover{
	z-index: 10000000 !important;
}

.hide-modal-btn-wrapper{
  margin-top:45px;
  display: block;
  text-align:right;
}
.block-editor-block-list__layout .block-editor-block-list__block>.block-editor-block-list__block-edit:before{
  border-color: rgba(66,88,99,.4);
  box-shadow: inset 3px 0 0 0 #555d66;
}

.acf-input .mce-tinymce.mce-panel{
  display: block !important;
}
