/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

*{
	box-sizing:border-box;
}

.components-base-control.quarter-size{
	width:23.5%;
	margin-right:2%;
	display:inline-block;
	&:last-child{
		margin-right:0;
	}
}

//Editor stuff start

#block-editor-inserter__search-1:placeholder-shown + .editor-inserter__results .components-panel__body:first-of-type {
  display: none;
}

.edit-post-settings-sidebar__panel-block .components-panel__body .components-base-control{
	width:100%;
}

.block-editor-block-list__layout .block-editor-block-list__block{
	padding:0;
	max-width:92%;
}
.editor-styles-wrapper .wp-block{
	width:100% !important;
}
.editor-styles-wrapper .editor-writing-flow{
	max-width:92% !important;
	margin:0 auto !important;
		margin-bottom:30px;
	&:last-child{
		margin-bottom:0;
	}
}

.edit-post-visual-editor.editor-styles-wrapper{
	overflow-x:hidden;
}

.edit-post-visual-editor .block-editor-block-list__block .block-editor-block-list__block-edit{
	margin-left:0;
	margin-right:0;
}

.block-editor-block-list__block .block-editor-block-list__layout{
	margin-left:0;
	margin-right:0;
}

.block-editor-block-list__block .block-list-appender{
	margin:15px 0;
}

//Editor stuff end

.wp-block-cgb-block-fancypantsy-section-container-block  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.wp-block-fp-section-container-block{

}

.wp-block-fp-section-container-block .block-editor-inner-blocks .editor-block-list__layout{
	display: flex;
	flex-flow: row wrap;
	.wp-block{
		flex:1;
		margin-right:45px;
		box-sizing:border-box;
		min-width:200px;

		&:last-child{
			margin-right:0;
		}
	}
}

.wp-block-fp-section-container-block .block-list-appender{
	flex:0 0 100% !important;
}

// .wp-block-fp-section-container-block{

// 	.wp-block.has-child-selected{
// 		display:block !important;
// 		flex:0 0 100% !important;
// 		margin-right:0 !important;
// 		margin-left:0 !important;
// 		order:-1 !important;
// 	}
// }

.wp-admin .wp-block-fp-section-container-block{
	overflow-x:visible;
	padding:0 15px;
}

.wp-admin .wp-block-fp-column-block{
	padding:0 15px;
}

.fp-custom-anchor-wrapper{
	display:block;
	div{
		display:block;
		width:100%;
	}
	.anchor-example{
		background:#e3e3e3;
		display:block;
		width:100%;
		padding:15px;
		margin-bottom:10px;
	}
}

.custom-innerblock-modal{
	width:calc( 100% - 100px );
	height:calc( 100vh - 100px );
	max-height:calc( 100vh - 100px );
}

.title-heading-panel{
	width:100%;
	max-width:none;
	label{
		width:100%;
		display:block !important;
	}
	.components-base-control__label{
		font-size:13px;
	}
	.components-base-control__field{
		text-align:left;
	}
	div{
		display:inline-block;
		text-align:center;
		label{
			font-size:0;
			&:before{
				content:"";
				display:block;
				margin-top:2px;
			}
		}

		&:nth-child( 2 ) label:before{
			content:"H1";
			font-size:24px;
		}
		&:nth-child( 3 ) label:before{
			content:"H2";
			font-size:22px;
		}
		&:nth-child( 4 ) label:before{
			content:"H3";
			font-size:20px;
		}
		&:nth-child( 5 ) label:before{
			content:"H4";
			font-size:18px;
		}
		&:nth-child( 6 ) label:before{
			content:"H5";
			font-size:16px;
		}
		&:nth-child( 7 ) label:before{
			content:"H6";
			font-size:14px;
		}
	}
}