/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

*{
	box-sizing:border-box;
}

.components-base-control.quarter-size{
	width:23.5%;
	margin-right:2%;
	display:inline-block;
	&:last-child{
		margin-right:0;
	}
}

//Editor stuff start

.edit-post-settings-sidebar__panel-block .components-panel__body .components-base-control{
	width:100%;
}

.block-editor-block-list__layout .block-editor-block-list__block{
	padding:0;
	max-width:92%;
}
.editor-styles-wrapper .wp-block{
	width:100% !important;
}
.editor-styles-wrapper .editor-writing-flow{
	max-width:92% !important;
	margin:0 auto !important;
}

.edit-post-visual-editor.editor-styles-wrapper{
	overflow-x:hidden;
}

.edit-post-visual-editor .block-editor-block-list__block .block-editor-block-list__block-edit{
	margin-left:0;
	margin-right:0;
}

.block-editor-block-list__block .block-editor-block-list__layout{
	margin-left:0;
	margin-right:0;
}

//Editor stuff end

.wp-block-cgb-block-fancypantsy-section-container-block  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
.wp-block-fp-section-container-block .block-editor-inner-blocks .editor-block-list__layout{
	display: flex;
	flex-flow: row wrap;
	.wp-block{
		flex:1;
		margin-right:30px;
		box-sizing:border-box;
		min-width:200px;

		&:last-child{
			margin-right:0;
		}
	}
}

.wp-block-fp-section-container-block .block-list-appender{
	flex:0 0 100% !important;
}

// .wp-block-fp-section-container-block{

// 	.wp-block.has-child-selected{
// 		display:block !important;
// 		flex:0 0 100% !important;
// 		margin-right:0 !important;
// 		margin-left:0 !important;
// 		order:-1 !important;
// 	}
// }

.wp-admin .wp-block-fp-section-container-block{
	overflow-x:visible;
}

.fp-custom-anchor-wrapper{
	display:block;
	div{
		display:block;
		width:100%;
	}
	.anchor-example{
		background:#e3e3e3;
		display:block;
		width:100%;
		padding:15px;
		margin-bottom:10px;
	}
}

.custom-innerblock-modal{
	width:92%;
	height:90vh;
}

// .wp-block-fp-column-block{
// 	.wp-block.is-selected{
		
// 		.acf-block-fields.acf-fields{
// 			position: fixed;
// 			top: 150px;
// 			right: 40px;
// 			left: 200px;
// 			bottom: 40px;
// 			padding: 30px;
// 			overflow-y: scroll;
// 			z-index: 300;
// 			background: #FFF;
// 			&:before{
// 				content: "";
// 				position: fixed;
// 				top: 150px;
// 				right: 40px;
// 				left: 210px;
// 				bottom: 0px;
// 				background: #FFF;
// 				z-index: -1;
// 				height: calc( 100% - 190px );
// 				pointer-events:auto;
// 			}
// 			&:after{
// 				content: "";
// 				position: fixed;
// 				top: -150px;
// 				right: -40px;
// 				left: -200px;
// 				bottom: -40px;
// 				background: rgba(#000, 0.8);
// 				z-index: -10;
// 				pointer-events:auto;
// 			}

// 			.acf-field{
// 				min-height:auto !important;
// 			}
// 		}
// 	}
// }